@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Báo cáo thống kê</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Báo cáo thống kê</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lựa chọn báo cáo</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="ttls-cm">
                                    <div class="ttls-label">Loại báo cáo</div>
                                    <div class="ttls-content">
                                        <select class="form-control px-0" style="width: 100%;" data-name="LoaiBaoCao">
                                            <option value="">--- Lựa chọn loại báo cáo ---</option>
                                            <option value="BieuLapBo">Biểu lập bộ</option>
                                            <option value="BaoCaoDoanhNghiepThueDat">Báo cáo giao đất, cho thuê đất</option>
                                            <option value="BaoCaoTienThueDat">Báo cáo tiền thuê đất hàng năm</option>
                                            <option value="BaoCaoDonGiaThueDat">Báo cáo thông báo đơn giá</option>
                                            <option value="BaoCaoMienGiamTienThueDat">Báo cáo miễn giảm tiền thuê đất</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="ttls-cm" style="width: 100%; display: none" >
                                    <div class="ttls-label">Từ ngày</div>
                                    <div class="ttls-content">
                                        <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" id="tuNgay">

                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="ttls-cm" style="width: 100%; display: none">
                                    <div class="ttls-label">Đến ngày</div>
                                    <div class="ttls-content">
                                        <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" id="denNgay">
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="ttls-cm" style="width: 100%; display: none">
                                    <div class="ttls-label">Năm báo cáo</div>
                                    <div class="ttls-content">
                                        <select class="form-control px-0" id="namThongBao">
                                            <option value="">Lựa chọn năm báo cáo</option>
                                            <option value="2018">Năm 2018</option>
                                            <option value="2019">Năm 2019</option>
                                            <option value="2020">Năm 2020</option>
                                            <option value="2021">Năm 2021</option>
                                            <option value="2022">Năm 2022</option>
                                            <option value="2023">Năm 2023</option>
                                            <option value="2024">Năm 2024</option>
                                            <option value="2025">Năm 2025</option>
                                            <option value="2026">Năm 2026</option>
                                            <option value="2027">Năm 2027</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="ttls-cm">
                                    <div class="ttls-label"> &nbsp;</div>
                                    <div class="ttls-content">
                                        <a class="btn btn-sm btn-success waves-effect waves-light" id="btnXuatBaoCao">
                                            <span>Xuất báo cáo</span>
                                            <i class="fas fa-file-excel"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
@section Scripts{
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script src="~/js/controller/BaoCaoControl.js"></script>
}