@{
    Layout = null;
}
<div class="modal fade" id="popupDetailThongBaoTienSuDungDat" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới thông báo tiền sử dụng đất</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <div class="row col-sm-12" id="FormDetailThongBaoTienSuDungDat">
                    @*Quyết định giao đất*@
                    <div class="card groupQuyetDinhThueDat" style="width: 100%">
                        <div class="card-header">
                            <h2 class="card-title">Quyết định giao đất</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <select class="form-control select2 ddQuyetDinhThueDat" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="display: none">
                                <div class="form-group col-md-6">
                                    <h5>Hình thức nộp tiền</h5>
                                    <input type="text" class="form-control" data-name="HinhThucThue" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Số quyết định giao đất</h5>
                                    <input type="text" class="form-control" data-name="SoQuyetDinhThueDat" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Ngày quyết định giao đất</h5>
                                    <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-name="NgayQuyetDinhThueDat">

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Tên quyết định giao đất</h5>
                                    <input type="text" class="form-control" data-name="TenQuyetDinhThueDat" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <h5>Mục đích sử dụng</h5>
                                    <input type="text" class="form-control" data-name="MucDichSuDung" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Vị trí thửa đất</h5>
                                    <input type="text" class="form-control" data-name="ViTriThuaDat" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Địa chỉ thửa đất</h5>
                                    <input type="text" class="form-control" data-name="DiaChiThuaDat" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Tổng diện tích (m<sup>2</sup>)</h5>
                                    <input type="text" class="form-control number" data-name="TongDienTich" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Thời hạn giao</h5>
                                    <input type="text" class="form-control" data-name="ThoiHanThue" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Giao từ ngày</h5>
                                    <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-name="TuNgayThue">

                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Giao đến ngày</h5>
                                    <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-name="DenNgayThue">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 100%">
                        <div class="card-header d-flex">
                            <h2 class="card-title">Thông báo tiền sử dụng đất</h2>
                            &nbsp; &nbsp;<h5><a href="#" style="color: gold" class="fa fa-folder" id="btnSelectFileThongBaoTienSuDungDat"></a> &nbsp;</h5>
                            <input type="file" id="fileThongBaoTienSuDungDat" multiple="" style="display: none;">
                            <div class="fileDinhKem" data-name="FileThongBaoTienSuDungDat" data-id="0">
                            </div>
                        </div>
                        <div class="card-body groupThongBaoTienSuDungDat">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Số thông báo tiền sử dụng đất</h5>
                                    <input type="hidden" class="form-control" data-name="IdThongBaoTienSuDungDat" value="0">
                                    <input type="text" class="form-control" data-name="SoThongBaoTienSuDungDat" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Doanh nghiệp</h5>
                                    <select class="form-control select2 ddDoanhNghiep" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Ngày thông báo tiền sử dụng đất</h5>
                                    <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-name="NgayThongBaoTienSuDungDat">

                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Tên thông báo</h5>
                                    <input type="text" class="form-control" data-name="TenThongBaoTienSuDungDat" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Diện tích không phải nộp tiền (m<sup>2</sup>)</h5>
                                    <input type="text" class="form-control number" data-name="DienTichKhongPhaiNop" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Diện tích phải nộp tiền (m<sup>2</sup>)</h5>
                                    <input type="text" class="form-control number" data-name="DienTichPhaiNop" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Đơn giá</h5>
                                    <input type="text" class="form-control number" data-name="DonGia" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Số tiền</h5>
                                    <input type="text" class="form-control number" data-name="SoTien" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Số tiền miễn giảm</h5>
                                    <input type="text" class="form-control number" data-name="SoTienMienGiam">

                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Lý do miễn giảm</h5>
                                    <input type="text" class="form-control" data-name="LyDoMienGiam">

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Số tiền bồi thường GPMB</h5>
                                    <input type="text" class="form-control number" data-name="SoTienBoiThuongGiaiPhongMatBang">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Lý do bồi thường GPMB</h5>
                                    <input type="text" class="form-control" data-name="LyDoBoiThuongGiaiPhongMatBang">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>Số tiền phải nộp</h5>
                                    <input type="text" class="form-control number" data-name="SoTienPhaiNop">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Lãnh đạo ký thông báo tiền sử dụng đất</h5>
                                    <select class="form-control ddLanhDaoKyThongBaoTienSuDungDat" data-name="LanhDaoKyThongBaoTienSuDungDat" style="width: 100%;">
                                        <option value="TRƯỞNG BAN-Lê Tiến Trị">Trưởng ban - Lê Tiến Trị</option>
                                        <option value="PHÓ TRƯỞNG BAN-Phan Văn Bình">Phó trưởng ban - Phan Văn Bình</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveThongBaoTienSuDungDat">Lưu</button>
                <button type="button" class="btn btn-danger" id="btnCloseThongBaoTienSuDungDat" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>