@{
    Layout = null;
}
<div class="modal fade" id="popupViewQuyetDinhThueDat" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết quyết định thuê đất</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <table id="tblViewQuyetDinhThueDat" class="table table-bordered table-hover table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th>Tên doanh nghiệp</th>
                            <th style="width: 10%">Số quyết định thuê đất</th>
                            <th style="width: 10%">Ngày quyết định thuê đất</th>
                            <th style="width: 10%">Số quyết định giao đất</th>
                            <th style="width: 10%">Vị trí thửa đất</th>
                            <th style="width: 10%">Địa chỉ thửa đất</th>
                            <th style="width: 10%">Hình thức thuê</th>
                            <th style="width: 10%">Diện tích sử dụng</th>
                            <th style="width: 10%">Mục đích sử dụng</th>
                            <th style="width: 10%">Thời hạn thuê</th>
                            <th style="width: 10%">Từ ngày</th>
                            <th style="width: 10%">Đến ngày</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>