@{
    Layout = null;
}
<div class="modal fade" id="popupDetailQuyetDinhThueDat" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới quyết định thuê đất</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <div class="row col-sm-12" id="FormDetailQuyetDinhThueDat">
                    <div class="form-group col-md-6">
                        <h5>Số quyết định thuê đất</h5>
                        <input type="hidden" class="form-control" data-name="IdQuyetDinhThueDat" value="0">
                        <input type="text" class="form-control" data-name="SoQuyetDinhThueDat" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Doanh nghiệp</h5>
                        <select class="form-control select2 ddDoanhNghiep" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Tên quyết định thuê đất</h5>
                        <input type="text" class="form-control" data-name="TenQuyetDinhThueDat" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Ngày ký quyết định thuê đất</h5>
                        <input type="text" class="form-control" data-name="NgayQuyetDinhThueDat" placeholder='dd/mm/yyyy' required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Số quyết định giao đất</h5>
                        <input type="text" class="form-control" data-name="SoQuyetDinhGiaoDat" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Tên quyết định giao đất</h5>
                        <input type="text" class="form-control" data-name="TenQuyetDinhGiaoDat" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Ngày ký quyết định giao đất</h5>
                        <input type="text" class="form-control" data-name="NgayQuyetDinhGiaoDat" placeholder='dd/mm/yyyy' required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Tổng diện tích</h5>
                        <input type="text" class="form-control number" data-name="TongDienTich" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Mục đích sử dụng</h5>
                        <input type="text" class="form-control" data-name="MucDichSuDung" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Thời hạn thuê</h5>
                        <input type="text" class="form-control" data-name="ThoiHanThue" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Từ ngày</h5>
                        <input type="text" class="form-control" data-name="TuNgayThue" placeholder='dd/mm/yyyy' required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Đến ngày</h5>
                        <input type="text" class="form-control" data-name="DenNgayThue" placeholder='dd/mm/yyyy' required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Hình thức thuê</h5>
                        <input type="text" class="form-control" data-name="HinhThucThue" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Địa chỉ thửa đất</h5>
                        <input type="text" class="form-control" data-name="DiaChiThuaDat" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Vị trí thửa đất</h5>
                        <input type="text" class="form-control" data-name="ViTriThuaDat" required>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="ttls-cm">
                                <div class="ttls-label">File đính kèm<span class="required">*</span></div>
                                <div class="form-group">
                                    <a id="btnSelectFile" class="dropzone-attach-files btn btn-sm btn-warning mb-0 dz-clickable">Chọn tệp tin đính kèm</a>
                                    <input type="file" id="fileUpload" multiple="" style="display: none;">
                                    <div class="fileDinhKem" id="lstIdFile" data-name="dsIdFile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveQuyetDinhThueDat">Lưu</button>
                <button type="button" class="btn btn-danger" id="btnCloseQuyetDinhThueDat" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>