@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Thông báo tiền thuê đất</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thông báo tiền thuê đất</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tìm kiếm thông báo tiền thuê đất</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7 col-md-7 col-lg-7 col-xl-7">
                                <div class="ttls-cm">
                                    <div class="ttls-content">
                                        <input type="text" id="txtKEY_WORD" placeholder="Nhập từ khóa tìm kiếm..." class="form-control" data-name="Keyword" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="ttls-cm">
                                    <select class="form-control px-0" style="width: 100%;" id="namThongBao">
                                        <option value="">Tất cả các năm</option>
                                        <option value="2019">Năm 2019</option>
                                        <option value="2020">Năm 2020</option>
                                        <option value="2021">Năm 2021</option>
                                        <option value="2022">Năm 2022</option>
                                        <option value="2023">Năm 2023</option>
                                        <option value="2024">Năm 2024</option>
                                        <option value="2025">Năm 2025</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="ttls-cm">
                                    <div class="ttls-content">
                                        <a class="btn btn-sm btn-primary waves-effect waves-light" id="btnSearchThongBaoTienThueDat">
                                            <span>Tra cứu</span>
                                            <i class="fas fa-search"></i>
                                        </a>
                                        <a class="btn btn-sm btn-success waves-effect waves-light" id="btnXuatBaoCaoTienThueDatHangNam">
                                            <span>Xuất báo cáo</span>
                                            <i class="fas fa-file-excel"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách thông báo tiền thuê đất</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblThongBaoTienThueDat" class="table table-bordered table-hover table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Số thông báo</th>
                                    <th>Tên doanh nghiệp</th>
                                    <th>Năm</th>
                                    <th>Số tiền phải nộp</th>
                                    <th>Loại thông báo</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
<div id="modalDetailThongBaoTienThueDat"></div>
@section Scripts{
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script src="~/js/controller/ThongBaoTienThueDatControl.js"></script>
}