@{
    Layout = null;
}
<div class="modal fade" id="popupDetailDoanhNghiep" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới doanh nghiệp</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <div class="row col-sm-12" id="FormDetailDoanhNghiep">
                    <div class="form-group col-md-6">
                        <h5>Tên doanh nghiệp</h5>
                        <input type="hidden" class="form-control" data-name="IdDoanhNghiep" value="0">
                        <input type="text" class="form-control" data-name="TenDoanhNghiep" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Địa chỉ</h5>
                        <input type="text" class="form-control" data-name="DiaChi" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Số điện thoại</h5>
                        <input type="text" class="form-control" data-name="SoDienThoai" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Email</h5>
                        <input type="text" class="form-control" data-name="Email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Mã số thuế</h5>
                        <input type="text" class="form-control" data-name="MaSoThue" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Cơ quan quản lý thuế</h5>
                        <input type="text" list="coquanthue" class="form-control" data-name="CoQuanQuanLyThue" required />
                        <datalist id="coquanthue">
                            <option>Cục Thuế tỉnh Nghệ An</option>
                            <option>Chi cục thuế khu vực Bắc Vinh</option>
                            <option>Chi cục thuế thành phố Vinh</option>
                            <option>Chi cục thuế khu vực Bắc Nghệ I</option>
                            <option>Chi cục thuế khu vực Bắc Nghệ II</option>
                        </datalist>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Mã cơ quan quản lý thu</h5>
                        <input type="text" class="form-control" data-name="MaCoQuanQuanLyThu" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Tên chương</h5>
                        <input type="text" list="tenchuong" class="form-control" data-name="TenChuong" required />
                        <datalist id="tenchuong">
                            <option>Kinh tế hỗn hợp ngoài quốc doanh</option>
                            <option>Doanh nghiệp tư nhân</option>
                            <option>Các đơn vị khác</option>
                            <option>Hợp tác xã</option>
                            <option>Bộ Quốc phòng</option>
                            <option>Các đ.vị KT có 100% vốn đầu tư NN vào VN</option>
                            <option>ĐV vốn nước ngoài từ 51 đến dưới 100%</option>
                            <option>Các đ.vị có 100% vốn đ.tư NN vào VN</option>
                        </datalist>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Mã chương</h5>
                        <input type="text" class="form-control" data-name="MaChuong" required>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Ngày cấp</h5>
                        <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-name="NgayCap">
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Tên người đại diện</h5>
                        <input type="text" class="form-control" data-name="TenNguoiDaiDien" required>
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Ghi chú</h5>
                        <textarea rows="4" type="text" class="form-control" data-name="GhiChu" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveDoanhNghiep">Lưu</button>
                <button type="button" class="btn btn-danger" id="btnCloseDoanhNghiep" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>